.chart-container {
    .chart {
        position: absolute;
    }    
    .navigation {
        position: absolute;
        bottom: 50%;
        .active-circle {
            color: blue;
        }
    }

}