vals.py
node_modules/
__pycache__/

predictors/
models/
*.csv

face-shape-classifier/images_in/
face-shape-classifier/__pycache__/
face-shape-classifier/images_in/
face-shape-classifier/cascade_classifier/
face-shape-classifier/predictor/
face-shape-classifier/scripts/
face-shape-classifier/models/
face-shape-classifier/headshapes.jpg
face-shape-classifier/vals.py
face-shape-classifier\face_shape_classification.csv

hair-type-classifier/__pycache__/
hair-type-classifier/images/
hair-type-classifier/vals.py
hair-type-classifier/cascade_classifier/
hair-type-classifier/hair_type_data.csv

inception-face-shape-classifier/

config.js

package-lock.json
package.json
.env

react-haircut-web-app/npm-debug.log*
react-haircut-web-app/yarn-debug.log*
react-haircut-web-app/yarn-error.log*

react-haircut-web-app/package-lock.json
react-haircut-web-app/package.json
react-haircut-web-app\src\reportWebVitals.js
react-haircut-web-app\src\setupTests.js
react-haircut-web-app\api\.flaskenv
react-haircut-web-app\src\assets\

reportWebVitals.js
setupTests.js
.flaskenv
models/