.main {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.left {
    position: relative;
}

.result {
    background-color: grey;
    color: black;
    font-size: 50px;
    width: 100%;
    height: 60vh;
    z-index: 999;
    position: fixed;
    top: 10vh;
    left: -100%;
    transition: left 1s ease-in-out;

    p {
        background-color: white;
        margin-left: 5%;
        padding-left: 5%;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .photoContainer {
        position: relative;
        background-color: cadetblue;
        width: fit-content;
        height: fit-content;
        margin-left: 25%;

        .photoRes, .faceShapeRes {
            position: absolute;
        }

        .hairTypeRes {
            position: absolute;
            bottom: 0;
            right: 0;
            width: fit-content;
            height: fit-content;
        }
    }
}

.active {
    left: 0;
}